*{
    padding: 0%;
    margin: 0%;
}

body,html {
    background: #f7f7f7;
    height: 100%;
}


label {
    font-size: 80% !important;
}

#login .card {
    border: 0;
    box-shadow: 0px 0px 15px rgb(233, 233, 233)
}
#login .card-header {
    text-align: center;
    background-color: #fff !important; 
} 
#login .card-header .display-4 {
    font-size: 2em;
}
.sidebar{
    background: #FFFFFF;
    height:100vmin;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul :hover {
    background: #BB2CD9;
    size: 10px;
}
.sidebar .nav-item {
    padding: 5px 10px;
}
.sidebar .nav-link {
    margin-left: 20px;
    color: #000;
    font-size: 90%;
}
.navbar{
    background:rgba(255, 255, 255, 0.897);
}
/* Logo Img */
#sidebar-image-wrapper {
    width: 66px;
    height: 60px;
    margin: 5px auto;
}
.sidebar-img{
    height: 60px;
    width: 66px;
    /* object-fit: contain; */
    
}
.navbar .nav-link{
    color: #000;
    font-size: 80%;
}